agno
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
annotated-types
anyio
arxiv
asgiref
asttokens
attrs
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
Brotli
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
Crawl4AI
cryptography
cssselect
dataclasses-json
decorator
defusedxml
Deprecated
distro
docopt
docstring_parser
duckduckgo_search
durationpy
emoji
eval_type_backport
executing
faiss-cpu
fake-http-header
fake-useragent
fastapi
fastjsonschema
feedparser
filelock
filetype
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
googlesearch-python
greenlet
groq
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
humanize
idna
importlib_metadata
importlib_resources
ipython
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kubernetes
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langdetect
langsmith
litellm
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
numpy
oauthlib
olefile
ollama
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandocfilters
parso
pdf2image
pickleshare
pillow
pipreqs
platformdirs
playwright
posthog
primp
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
pure_eval
pyasn1
pyasn1_modules
pycountry
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
PyGithub
Pygments
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pypdf
pyperclip
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
PyYAML
pyzmq
rank-bm25
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sgmllib3k
shellingham
six
smmap
sniffio
snowballstemmer
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tenacity
tf-playwright-stealth
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing-inspection
typing_extensions
unstructured
unstructured-client
uritemplate
urllib3
uv
uvicorn
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wrapt
xxhash
yarg
yarl
zipp
zstandard
